.content
  %header
    %span.header-title Mapa Eleitoral

  %nav
    %ul
      %li
        %a= link_to 'Home', '#'
      %li
        %a= link_to 'Municipios', '#'
      %li Amparo-SP
      %span.clear

  .city-description
    .city-flag
      = image_tag("bandeira_oficial.jpg")
    .city-name-and-code
      %h1 Amparo-SP
      %h2 Código IBGE: 3501905
    %span.clear
